* {
    padding: 0;
    margin: 0;
}


/* homepage bg */

.homepage {
    background-size: cover;
    background-color: aliceblue;
    background-repeat: no-repeat;
}


/*  login page bg */

.loginpage {
    background-size: cover;
    background-image: url(../images/idukki\ dam.jpg);
    background-repeat: no-repeat;
}


/* joinpage */

.joinpage {
    background-size: cover;
    background-image: url(../images/tipu\ kotta.jpg);
    background-repeat: no-repeat;
}


/* brochurepage bg */

.brochurepage {
    background-color: white;
}


/* nav tags hover */

#atags {
    background-color: white;
    color: black;
}

#atags:hover {
    background-color: white;
    color: black;
}


/* login button hover */

#loginbutton:hover {
    border: 2px solid white;
}


/* input form alignment in join page */

#inputform input {
    float: right;
}

#inputform {
    background-size: cover;
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    border-radius: 3%;
}

#inputform button {
    background-color: whitesmoke;
    color: black;
}

#inputform label {
    color: black;
    font-style: italic;
}

#met {
    width: 65%;
}